<mat-card class='product-card'>
  <div mat-card-image class="product-card__image-container">
    <img class="product-card__image" 
    (load)='imageLoad.emit(true)' 
    (error)='imageLoad.emit(false)' 
    [attr.src]='productCard.photoUrl' alt="Furniture Photo">
  </div>
  <mat-card-header>
    <mat-card-title>{{productCard.name}}</mat-card-title>
    <mat-card-subtitle *ngIf='productCard.size'>
      <span>Размер: {{productCard.size}}</span>
    </mat-card-subtitle>
    <mat-card-title class="product-card__price" *ngIf='productCard.price'>{{productCard.price}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions class="product-card__actions" *ngIf='productCard.price'>
    <button mat-flat-button class="product-card__button" color='primary'>В корзину</button>
    <button mat-stroked-button class="product-card__button" color='primary' 
    [routerLink]='["/shop", albumId, productCard.id]'>
      Подробнее
    </button>
  </mat-card-actions>
  <mat-card-actions class="product-card__actions" *ngIf='!productCard.price'>
    <button mat-flat-button class="product-card__button" color='primary' (click)='openRequestCallDialog()'>Заказать</button>
    <button mat-stroked-button class="product-card__button" color='primary'>Открыть фото</button>
  </mat-card-actions>
</mat-card>