@import "variables";

.product-page {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  min-height: 60vh;
  margin: 40px auto;

  &__image-container {
    width: 40vh;
    height: 40vh;
  }

  &__info-card {
    width: 25%;
    margin-left: 2%;
  }

  &__button {
    width: 100%;
  }

  &__name {
    margin: 0;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
  }

  &__options {
    padding: 0;
    width: 43%;
    min-height: 50vh;
    margin-left: 2%;

    border: 1px solid rgba(0,0,0,0.12);
  }
}
