@import "variables";

.product-page {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  min-height: 60vh;
  margin: 40px auto;

  &__image-container {
    & .product-page__button {
      background-color: white;
    }
  }

  &__image {
    padding: 0;
    width: 300px;
    height: 300px;
    flex: 1 0 300px;
    overflow: hidden;
  }

  &__info-card {
    width: 25%;
    margin-left: 2%;
  }

  &__table {
    width: 100%;
  }

  &__button {
    width: 100%;

    &_back {
      margin-top: 10px;
    }

    &_update-photo {
      margin-top: 10px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
  }

  &__options {
    padding: 0;
    width: 43%;
    min-height: 50vh;
    margin-left: 2%;
  }
}
