<div class='product-page' *ngIf='this.productsService.isLoaderHidden'>
  <div class="product-page__image-container">
    <mat-card class="product-page__image">
      <app-image [title]='product.name' [src]='photoUrl'></app-image>
    </mat-card>
    <button mat-stroked-button class='product-page__button product-page__button_update-photo' 
    *ngIf='photoUrl !== product.photoUrl'>Показать фото продукта</button>
    <button mat-stroked-button class='product-page__button product-page__button_back'
    [routerLink]='["/shop", albumId]'>Другие товары этой категории</button>
  </div>
  <mat-card  class='product-page__options'>
    <app-product-options
    *ngIf='product.productOptions.length > 0' 
    [options]='product.productOptions'></app-product-options>
  </mat-card>
  <mat-card class="product-page__info-card">
    <mat-card-title class="product-page__name">{{product.name}}</mat-card-title>
    <mat-card-content>
      <table class="product-page__table">
        <ng-container *ngIf='product.size'>
          <tr>
            <td>Высота:</td>
            <td>{{productSize.height}} см</td>
          </tr>
          <tr>
            <td>Ширина:</td>
            <td>{{productSize.width}} см</td>
          </tr>
          <tr>
            <td>Глубина:</td>
            <td>{{productSize.depth}} см</td>
          </tr>
        </ng-container>
        <tr *ngFor='let option of product.productOptions'>
          <td>{{option}}: </td>
          <td>!empty!</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-title class="product-page__price">Итого: {{product.price}}</mat-card-title>
    <mat-card-actions>
      <button mat-flat-button  class="product-page__button"  *ngIf='product.price' color='primary'>В корзину</button>
    </mat-card-actions>
  </mat-card>
</div>