.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: -5vh;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 100%;
  }
}