<header class="header">
  <mat-toolbar class="header__main">
    <div class="header__logo-container">
      <h1 class="header__logo">Sviridenko Furniture</h1>
      <button mat-stroked-button class="header__location" disableRipple>Москва и МО</button>
    </div>
    <app-contacts class="header__contacts"></app-contacts>
  </mat-toolbar>
  <mat-toolbar class="header__products" color='primary'>
    <button mat-stroked-button
    [routerLink]='["/products", link.id]'
    class="header__product"
    [class.header__product_online] = 'link.onlinePurchase'
    *ngFor='let link of albumLinks'>{{link.title}}</button>
  </mat-toolbar>
</header>