@import "variables";

.dialog {
	&__full-photo-background {
		background-color: $background-color-dark;
	}

	&__full-photo {
		height: 90vh;

		& .mat-dialog-container {
			padding: 0;
		}
	}

	&__contacts {
			display: none;
	}
}

@media screen and (max-width: map-get($breakpoints, mobile) - 1) {
	.dialog {
		&__full-photo {
		}
	
		&__contacts {
			display: block;
			& .mat-dialog-container {
				position: relative;
	
				background-color: $background-color-primary;
			}
		}
	}
}