$backgroun-color-primary: #f5f5f5;
$color-accent: #ff4081;

$breakpoints: (
  mobile-portrait: 400px,
  mobile         : 576px,
  tablet-portrait: 768px,
  tablet         : 1000px,
  laptop         : 1300px,
  desktop        : 1680px
);