@import "variables";

:host {
  height: 100%;
}

@mixin flex-item($width, $margin-vertical, $margin-horizontal) {
  flex: 1 0 $width;
  box-sizing: border-box;
  width: $width;
  margin: $margin-vertical $margin-horizontal;
}

$image-width: 50px;
$facade-image-width: 80px;

::ng-deep .mat-tooltip-panel {
  transform: translateY(20px);
}

.product-options {
  display: block;
  height: 100%;
  padding: 0;

  &::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
  }

  &::ng-deep .mat-tab-body-wrapper {
    height: calc(100% - 48px);
  }

  &::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }

  &__group-name {
    background-color: $backgroun-color-primary;

    user-select: none;
    &.mat-expanded {
      background-color: $backgroun-color-primary;
    }
  }

  &__grid {
    display: flex;
    flex-flow: row wrap;

    .product-options__hidden-flex {
      @include flex-item($image-width, 0, 1px);

      &_facade {
        @include flex-item($facade-image-width, 0, 4px);
      }
    }
  }

  &__image {
    @include flex-item($image-width, 1px, 1px);

    &_facade {
      @include flex-item($facade-image-width, 4px, 4px);
    }
  }
}
