<div class="products-table">
	<div class="products-table__loader" >
		<mat-spinner [diameter]='50'
				*ngIf="shopFacadeService.isShopLoading$ | async">
			</mat-spinner>
	</div>
	<ng-container *ngIf="shopFacadeService.currentAlbum$ | async">
	<mat-paginator [length]="(shopFacadeService.currentAlbum$| async).products.length" [pageSize]="10" (page)="onPageEvent($event)"></mat-paginator>
		<div class="products-table__cards-container">
			<app-product-card class="products-table__card"
					*ngFor="let product of (products$ | async)"
					[class.products-table__card_hidden]="shopFacadeService.isShopLoading$ | async"
					[albumId]="(shopFacadeService.currentAlbum$ | async).id"
					[product]="product">
			</app-product-card>
		</div>
	</ng-container>
</div>
