@import "variables";

.products-table {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 90px;

  background-color: $background-color-primary;

  &__paginator {
    display: block;
    margin-top: 8px;
  }

  &__content {
    opacity: 1;

    transition: opacity 0.3s;

    pointer-events: auto;

    &_hidden {
      height: 0;

      opacity: 0;

      transition: none;

      pointer-events: none;
    }
  }

  &__cards-container {
    display: flex;
    flex-flow: row wrap;
  }

  &__card {
    display: flex;
    box-sizing: border-box;
    width: 85%;
    padding: 5px;
    padding-bottom: 10px;

    @media screen and (min-width: map-get($breakpoints, mobile-portrait) - 80px) {
      width: 70%;
    }
    @media screen and (min-width: map-get($breakpoints, mobile-portrait)) {
      width: 50%;
    }
    @media screen and (min-width: map-get($breakpoints, mobile) + 100px) {
      width: 33.3%;
    }
    @media screen and (min-width: map-get($breakpoints, tablet-portrait) + 150px) {
      width: 25%;
    }
    @media screen and (min-width: map-get($breakpoints, tablet) + 100px) {
      width: 25%;
      padding-right: 7px;
      padding-left: 7px;
    }
    @media screen and (min-width: map-get($breakpoints, laptop)) {
      width: 20%;
    }
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      width: 16.66%;
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 50px;

    transform: translate(-50%, -50%);

    justify-self: center;
  }

  &::after {
    content: "";

    flex: auto;
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait)) {
  .products-table {
    &__paginator {
      position: absolute;
      bottom: 30px;
      left: 50%;

      margin-top: 20px;
      margin-bottom: 0;

      transform: translate(-50%, 0);
    }
  }
}

@media screen and (max-width: map-get($breakpoints, tablet-portrait) - 1px) {
  .products-table {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: map-get($breakpoints, mobile-portrait) - 1px) {
  .products-table {
    &__cards-container {
      justify-content: center;
    }

    &__paginator {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile) + 30px) {
  .products-table {
    &__title-container {
      margin-right: 56px;
      margin-left: 56px;
    }
  }
}
