@import "variables";

.products-table {
  margin-top: 5px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 70px;

	background-color: $background-color-primary;
	
  &__content {
    opacity: 1;

    transition: opacity 0.3s;

    pointer-events: auto;

    &_hidden {
      height: 0;

      opacity: 0;

      transition: none;

      pointer-events: none;
    }
  }

  &__cards-container {
    display: flex;
    flex-flow: row wrap;
    @media screen and (max-width: map-get($breakpoints, mobile-portrait) - 1px) {
      justify-content: center;
    }
  }

  &__loader {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 50px;

    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";

    flex: auto;
  }
}

@media screen and (max-width: map-get($breakpoints, mobile) + 30px) {
  .products-table {
    &__title-container {
      margin-right: 56px;
      margin-left: 56px;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait)) {
	.products-table {
		padding-bottom: 90px;
	}
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait)) and (pointer: coarse) {
  .products-table {
    padding-bottom: 130px;
  }
}
