.request-call {
  overflow: hidden;
  &__form {
    display: flex;
    flex-flow: column nowrap;
  }
  &__form-field {
    font-size: 16px;
    margin-bottom: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}