<form [formGroup]='requestCallForm' class="request-call__form">
  <h1 mat-dialog-title>Заказать звонок?</h1>
  <mat-form-field appearance="outline" class="request-call__form-field">
    <mat-label>Ваше имя</mat-label>
    <input formControlName='userName' matInput>
    <mat-error *ngIf='requestCallForm.get("userName").hasError("required")'>
      Пожалуйста введите имя.
    </mat-error>
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="request-call__form-field">
    <mat-label>Ваш телефон</mat-label>
    <input formControlName='userPhone' matInput type='text'>
    <mat-error *ngIf='requestCallForm.get("userPhone").hasError("pattern") && !requestCallForm.get("userPhone").hasError("required")'>
      Неправильно набран номер.
    </mat-error>
    <mat-error *ngIf='requestCallForm.get("userPhone").hasError("required")'>
      Пожалуйста введите номер.
    </mat-error>
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="request-call__form-field">
    <mat-label>Email</mat-label>
    <input formControlName='userEmail' matInput>
    <mat-error *ngIf='requestCallForm.get("userEmail").hasError("email") && !requestCallForm.get("userEmail").hasError("required")'>
      Неправильный email.
    </mat-error>
    <mat-error *ngIf='requestCallForm.get("userEmail").hasError("required")'>
      Пожалуйста введите email.
    </mat-error>
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-flat-button color='primary' [mat-dialog-close]='true'>Заказать</button>
    <button mat-stroked-button [mat-dialog-close]='false'>Отмена</button>
  </mat-dialog-actions>
</form>