@import "variables";

.full-photo {
  background-color: $background-color-primary;
  cursor: zoom-out;

  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &::ng-deep .image__content {
    display: block;
    width: unset;
    max-width: 90vw;
    height: unset;
    max-height: 90vh;

    transition: opacity 0.3s;

    object-fit: unset;
  }
}
