@import "variables";

.header {
	overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px 20px;
  }

  &__logo-container {
    display: flex;
    flex: 1 0 180px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 310px;
    min-height: 48px;

		justify-items: center;
  }

  &__logo {
    display: inline-block;
		margin-right: 10px;
  }

  &__location {
    line-height: 24px;

    background-color: white;
    border-radius: 50px;
		cursor: default;

		::ng-deep .mat-button-focus-overlay {
			background-color: white;
		}
  }

  &__contacts {
    flex: 1 0 380px;
  }

  &__contacts-switcher {
    display: none;
  }
}

@media screen and (max-width: map-get($breakpoints, mobile-portrait) - 1) {
  .header {
    &__contacts-label {
      display: none;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile) - 1) {
  .header {
    &__container {
      justify-content: space-between;

      color: white;

      background-color: $color-primary;
    }

    &__contacts {
      display: none;
    }

    &__contacts-switcher {
      display: block;

			border-color: white;
    }

    &__contacts-label {
      margin-left: 5px;
    }

    &__location {
      display: none;
		}
  }
}
