@import "variables";

.header {
  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px 20px;
  }

  &__logo-container {
    display: flex;
    flex: 1 0 180px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 310px;
    min-height: 48px;

    cursor: pointer;

    justify-items: center;
  }

  &__logo {
    display: inline-block;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }

  &__location {
    line-height: 24px;

    background-color: white;
    border-radius: 50px;

    ::ng-deep .mat-button-focus-overlay {
      background-color: white;
    }
  }

  &__contacts {
    flex: 1 0 380px;
  }

  &__navigation {
    z-index: 4;

    display: block;

    border-bottom: 1px solid white;
  }

  &__navigation-mobile {
    display: none;
  }

  &__buttons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    min-height: 60px;
    margin-right: -10px;
    padding: 8px 9px 8px 15px;
  }

  &__button {
    display: none;
  }

  &__link {
    flex: 1 0 auto;
    max-width: 300px;
    margin: 6px 0;
    margin-right: 10px;

    line-height: 30px;

    border-color: white;

    transition: background-color 0.3s;
    &:hover {
      background-color: transparentize($color: black, $amount: 0.9);
    }

    &.mat-badge-small::ng-deep .mat-badge-content {
      top: -4px;
      right: -6px;

      width: auto;
      height: 8px;

      line-height: 8px;

      border-radius: 0;
    }

    &_online-product {
      &.mat-badge-small::ng-deep .mat-badge-content {
        color: $color-accent;
      }
    }
  }
}


@media screen and (max-width: map-get($breakpoints, mobile) - 1) {
  .header {
    &__label {
      margin-left: 2px;

      &_contacts {
        margin-left: 5px;
      }
      &_home {
        margin-left: 3px;
      }
    }

    &__container {
      height: 58px;
      padding-right: 16px;
      padding-left: 16px;
    }

    &__logo-container {
      display: none;
    }

    &__button {
      display: block;

      border: 1px solid white;
    }

    &__container {
      justify-content: space-between;

      color: white;

      background-color: $color-primary;
    }

    &__contacts {
      display: none;
    }

    &__contacts-switcher {
      display: block;

      border-color: white;
    }

    &__contacts-label {
      margin-left: 5px;
    }

    &__location {
      display: none;
    }

    &__navigation {
      display: none;
    }

    &__navigation-mobile {
      z-index: 3;

      display: block;

      &::ng-deep .mat-expansion-panel-header {
        background-color: $color-primary !important;
        cursor: default;
      }
    }


    &__panel-header {
      padding: 5px 20px;

      font-size: 18px;

      border-radius: 0;

      user-select: none;

      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    &__panel {
      border-radius: 0 !important;
      box-shadow: none;
      &::ng-deep .mat-expansion-panel-body {
        padding: 0;
      }
    }

    &__panel-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 0;

      font-weight: 500;
      font-size: 20px;
      color: white;
    }

    &__album-title {
      font-size: 20px;
    }

    &__buttons {
      border-top: 1px solid white;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile-portrait) - 1) {
  .header {
    &__label {
      &_home {
        display: none;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile-portrait) - 70) {
  .header {
    &__label {
      &_contacts {
        display: none;
      }
    }
  }
}
