<header class="header">
  <mat-toolbar class="header__container">
    <div class="header__logo-container">
      <h1 class="header__logo">Sviridenko Furniture</h1>
      <button mat-stroked-button class="header__location" disableRipple>Москва и МО</button>
    </div>
    <app-contacts class="header__contacts"></app-contacts>
    <button mat-stroked-button class="header__contacts-switcher" title="Contacts" (click)="dialogService.openContactsDialog()">
      <mat-icon aria-label="Seller's contacts">contact_phone</mat-icon>
      <span class="header__contacts-label">Контакты</span>
    </button>
  </mat-toolbar>
</header>