.contacts {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  margin-left: -40px;

  &__phones {
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
  }
  &__social {
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
  }
  &__link {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

    line-height: 25px;

    background-color: white;
    border-radius: 50px;
  }
}
