@mixin grope-alignment {
  display: flex;
  align-items: center;
}

.contacts {
  &__phones {
    @include grope-alignment;
    margin-bottom: 5px;
  }
  &__social {
    @include grope-alignment;
  }
  &__link {
    margin-left: 5px;

    line-height: 25px;

    background-color: white;
    border-radius: 50px;
  }
}
