<div class="shop">
  <app-header></app-header>
  <div class="shop__navigation">
    <ng-container *ngTemplateOutlet="navBar"></ng-container>
	</div>
	<button mat-icon-button class="shop__button shop__button_scroll-top" color="primary"
			(click)="scrollTop()"
			title="Пондятся вверх" 
			aria-label="Scroll top">
		<mat-icon>arrow_upward</mat-icon>
	</button>
  <mat-accordion class="shop__navigation-mobile" [hideToggle]="true">
    <mat-expansion-panel class="shop__panel" #panel>
      <mat-expansion-panel-header 
          class="shop__panel-header"
          [expandedHeight]="'40px'" 
          [collapsedHeight]="'40px'">
          <mat-panel-title class="shop__panel-title" aria-label="Categories">
            <span>Категории</span>
            <mat-icon>view_module</mat-icon>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="navBar"></ng-container>
    </mat-expansion-panel>
	</mat-accordion>
	<div class="shop__cart-container">
		<app-cart></app-cart>
		<button mat-mini-fab class="shop__button shop__button_cart" color="primary" 
				(click)="cartFacadeService.openCart()"
				aria-label="Open cart">
			<mat-icon>shopping_cart</mat-icon>
		</button>
	</div>
	<div class="shop__content">
		<div class="shop__cart-background" [class.shop__cart-background_enabled]="cartFacadeService.isCartOpened$ | async"
				(click)="cartFacadeService.closeCart()"></div>
		<router-outlet></router-outlet>
	</div>
</div>

<ng-template #navBar>
  <mat-toolbar class="shop__buttons" color="primary">
    <button mat-stroked-button
				*ngFor="let album of shopFacadeService.albums$ | async"
				(click)="panel.close()"
				[routerLink]="['/shop', album.id]"
				[matBadge]='album.products[0].price ? "Онлайн" : "Под заказ"'
				matBadgeSize="small"
				[routerLink]="['/shop', album.id]"
				class="shop__link"
				[class.shop__link_online-product] = "album.products[0].price">
			{{album.title}}
		</button>
  </mat-toolbar>
</ng-template>