@import "variables";

.shop {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;

  background-color: $background-color-primary;

  & > * {
    flex-shrink: 0;
  }

  &__album-title-container {
    position: relative;

    display: flex;
    justify-content: center;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      z-index: 1;

      width: 100%;
      height: 2px;

      background-color: white;
    }
  }

  &__album-title {
    z-index: 2;

    display: inline-block;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;

    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: white;
    text-overflow: ellipsis;

    background-color: $color-primary;

    user-select: none;
  }


  &__features-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    height: 0;
    overflow: visible;

    background-color: $color-primary;

    &_with-title {
      height: $features-toolbar-height;

      box-shadow: 0 11px 14px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__cart-container {
    position: sticky;
    top: 0;
    z-index: 4;

    overflow: visible;

    white-space: nowrap;
  }

  &__cart {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    position: relative;
    z-index: 0;

    flex-grow: 1;
    width: 100%;
  }

  &__background {
    position: absolute;
    z-index: 3;

    width: 100%;
    height: 100%;

    transition: background-color 0.4s;

    user-select: none;
    pointer-events: none;

    &_cart-opened {
      background-color: $background-color-dark;

      pointer-events: auto;
    }
  }

  &__button {
    &_cart {
      margin-left: 50px;

      color: $color-primary;

      background-color: white;
      box-shadow: none;
      &.mat-badge-small::ng-deep .mat-badge-content {
        top: -3px;
        right: -1px;
      }

      &_absolute {
        position: absolute;
        top: 11px;
        right: 16px;

        margin: 0;

        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
      }
    }

    &_modeler[disabled] {
      margin-right: 50px;

      background-color: white;
    }

    &_scroll-top {
      position: fixed;
      right: 0;
      bottom: 10px;
      z-index: 1;

      margin: 0;

      color: $color-primary;

      background-color: white;
    }
  }

  &__main {
    flex: 1 0 90%;
    min-height: 100%;
  }
}

@media screen and (max-width: map-get($breakpoints, mobile) - 1px) {
  .shop {
    &__background {
      &_cart-opened {
        display: none;
      }
    }

    &__cart-container {
      white-space: normal;
    }

    &__button {
      &_modeler[disabled] {
        margin-right: 15px;
      }

      &_cart {
        margin-left: 15px;
      }

      &_scroll-top {
        bottom: 4px;
      }
    }

    &__features-toolbar {
      top: -1px;

      font-size: 20px;

      border-top: 1px solid white;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, mobile) - 60px) {
  .shop__button {
    &_feature-toolbar {
      padding: 0 20px;
    }

    &_cart_absolute {
      top: 7px;
      right: 4px;
    }

    &_scroll-top {
      right: 4px;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait)) {
  .shop {
    &__button {
      &_cart {
        &_absolute {
          right: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile-portrait) - 1px) {
  .shop {
    &__features-toolbar {
      white-space: unset;
    }

    &__album-title-container::after {
      display: none;
    }

    &__album-title {
      padding-left: 0;

      background-color: transparent;
    }

    &__album-title-container {
      justify-content: flex-start;
    }

    &__button {
      &_cart {
        margin-left: 0;
      }

      &_modeler {
        display: none;
        margin-right: 0;
      }

      &_scroll-top {
        right: 2px;
        bottom: 2px;
      }
    }
  }
}
