@import "variables";

.shop {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;

  background-color: $background-color-primary;

  & > * {
    flex-shrink: 0;
  }

  &__album-title-container {
    position: relative;

    display: flex;
    justify-content: center;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      z-index: 1;

      width: 100%;
      height: 2px;

      background-color: black;
    }
  }

  &__album-title {
    z-index: 2;

    display: inline-block;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;

    font-size: 24px;
    line-height: 37px;
    text-align: center;
    text-overflow: ellipsis;

    background-color: $background-color-primary;
  }


  &__features-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    height: 44px;
    margin-top: 2px;

    background-color: $background-color-primary;

    &_height-0 {
      height: 0;
      overflow: visible;
    }
  }

  &__cart-container {
    position: sticky;
    top: 0;
    z-index: 4;

    overflow: visible;

    white-space: nowrap;
  }

  &__cart {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    position: relative;

    flex-grow: 1;
    width: 100%;
  }

  &__background {
    position: absolute;
    z-index: 3;

    width: 100%;
    height: 100%;

    transition: background-color 0.4s;

    user-select: none;
    pointer-events: none;

    &_cart-opened {
      background-color: $background-color-dark;

      pointer-events: auto;
    }
  }

  &__button {
    &_cart {
      margin-left: 50px;
      &.mat-badge-small::ng-deep .mat-badge-content {
        top: -3px;
        right: -1px;
      }

      &_absolute {
        position: absolute;
        top: 10px;
        right: 15px;

        margin: 0;
      }
    }

    &_modeler {
      margin-right: 50px;
    }

    &_scroll-top {
      position: fixed;
      right: 0;
      bottom: 10px;
      z-index: 1;

      margin: 0;
    }
  }

  &__main {
    flex: 1 0 90%;
    min-height: 100%;
  }

  &__buttons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    min-height: 60px;
    margin-right: -10px;
    padding: 8px 9px 8px 15px;
  }

  &__navigation {
    display: block;
  }

  &__navigation-mobile {
    display: none;
  }

  &__link {
    flex: 1 0 auto;
    max-width: 300px;
    margin: 6px 0;
    margin-right: 10px;

    line-height: 30px;

    border-color: white;

    transition: background-color 0.3s;
    &:hover {
      background-color: transparentize($color: black, $amount: 0.9);
    }

    &.mat-badge-small::ng-deep .mat-badge-content {
      top: -4px;
      right: -6px;

      width: auto;
      height: 8px;

      line-height: 8px;

      border-radius: 0;
    }

    &_online-product {
      &.mat-badge-small::ng-deep .mat-badge-content {
        color: $color-accent;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile) - 1px) {
  .shop {
    &__background {
      &_cart-opened {
        background-color: transparentize($color: $background-color-primary, $amount: 0.4);
      }
    }

    &__cart-container {
      white-space: normal;
    }

    &__button {
      &_cart {
        margin-left: 15px;
      }

      &_modeler {
        margin-right: 15px;
      }
    }

    &__buttons {
      border-top: 1px solid white;
    }

    &__navigation {
      display: none;
    }

    &__navigation-mobile {
      display: block;

      &::ng-deep .mat-expansion-panel-header {
        background-color: $color-primary !important;
      }
    }

    &__panel-header {
      font-size: 18px;

      border-radius: 0;

      user-select: none;

      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    &__panel {
      z-index: 1;

      margin-right: 15px;
      margin-left: 15px;
      &::ng-deep .mat-expansion-panel-body {
        padding: 0;
      }
    }

    &__panel-title {
      display: flex;
      justify-content: space-between;
      margin-right: 0;

      color: white;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, mobile) - 60px) {
  .shop__button {
    &_cart_absolute {
      right: 4px;
    }

    &_scroll-top {
      right: 4px;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait)) {
  .shop__button_cart_absolute {
    right: 10px;
  }
}

@media screen and (max-width: map-get($breakpoints, mobile-portrait)) {
  .shop {
    &__features-toolbar {
      white-space: unset;
    }

    &__album-title-container::after {
      display: none;
    }

    &__album-title {
      background-color: transparent;
    }

    &__album-title-container {
      justify-content: flex-start;
    }

    &__button {
      &_cart {
        margin-left: 0;
      }

      &_modeler {
        display: none;
        margin-right: 0;
      }
    }
  }
}
