<div class="shop">
  <app-header></app-header>
	<div class="shop__cart-container">
		<app-cart class="shop__cart"></app-cart>
	</div>
	<div class="shop__content">
		<button mat-mini-fab class="shop__button shop__button_scroll-top" color="primary"
				(click)="scrollTop()"
				title="Пондятся вверх" 
				aria-label="Scroll top">
			<mat-icon>arrow_upward</mat-icon>
		</button>
		<div class="shop__background" [class.shop__background_cart-opened]="cartFacadeService.isCartOpened$ | async"
				(click)="cartFacadeService.closeCart()">
		</div>
		<mat-toolbar class="shop__features-toolbar"
				[class.shop__features-toolbar_with-title]="!(productFacadeService.product$ | async)">
			<button mat-mini-fab class="shop__button shop__button_modeler"
					*ngIf="!(productFacadeService.product$ | async)"
					disabled
					color="primary"
					aria-label="Modeler is developing"
					title="Конструктор мебели в разработке">
				<mat-icon>settings</mat-icon>
			</button>
			<div class="shop__album-title-container"
					*ngIf="!(productFacadeService.product$ | async)">
				<h1 class="shop__album-title">{{shopFacadeService.pageTitle$ | async}}</h1>
			</div>
			<button mat-mini-fab class="shop__button shop__button_cart"
					[class.shop__button_cart_absolute]="productFacadeService.product$ | async"
					[matBadge]="(cartFacadeService.isCartEmpty$ | async) ? '' : (cartFacadeService.cartProductsQuantity$ | async)"
					matBadgeColor="accent"
					matBadgeSize="small"
					title="Открыть корзину"
					color="primary"
					(click)="cartFacadeService.openCart()"
					aria-label="Open cart">
				<mat-icon>shopping_cart</mat-icon>
			</button>
		</mat-toolbar>
		<router-outlet (activate)="scrollTop()"></router-outlet>
	</div>
</div>