@import "variables";

.dialog {
  &_full-photo-background {
    background-color: $background-color-dark;
  }

  &_full-photo {
    & .mat-dialog-container {
      padding: 0;
      overflow: hidden;
    }
  }

  &_contacts {
    display: none;
  }
}

@media screen and (max-width: map-get($breakpoints, mobile) - 1) {
  .dialog {
    &_contacts {
      display: block;
      & .mat-dialog-container {
        position: relative;

        background-color: $background-color-primary;
      }
    }
  }
}
