<mat-card class="product-card" [class.product-card_priceless]="!product.price">
	<div mat-card-image class="product-card__image-container"
				[class.product-card__image-container_priceless]="!product.price"
				(click)="dialogService.openPhoto(product.photoUrl)">
    <img class="product-card__image"
    		alt="Furniture Photo"
      	(load)="imageLoad.emit(true)" 
        (error)="imageLoad.emit(false)" 
        [attr.src]="product.photoUrl.low">
  </div>
  <mat-card-header>
    <mat-card-title *ngIf="product.name">
      {{product.name}}
    </mat-card-title>
    <mat-card-subtitle *ngIf="product.size">
      <span>Размер: {{product.size | size}}</span>
    </mat-card-subtitle>
    <mat-card-title class="product-card__price" *ngIf="product.price">
        {{product.price | currency:"RUB":"code":"4.0":"ru"}}
    </mat-card-title>
	</mat-card-header>
  <mat-card-actions class="product-card__actions" *ngIf="product.price">
		<button mat-stroked-button class="product-card__button product-card__button_to-product" color="primary" 
        [routerLink]="['/shop', (productsTableFacadeService.tableAlbum$ | async).id, product.id]">
      Подробнее
		</button>
		<button mat-flat-button class="product-card__button product-card__button_to-cart" color="primary"
				(click)="addProductToCart()">
      В корзину
    </button>
  </mat-card-actions>
  <mat-card-actions class="product-card__actions" *ngIf="!product.price">
		<button mat-stroked-button class="product-card__button product-card__button_open-photo" color="primary"
				[disableRipple]="true" 
        (click)="dialogService.openPhoto(product.photoUrl)">
      Открыть фото
    </button>
    <button mat-flat-button class="product-card__button product-card__button_request-call" color="primary" 
        (click)="openRequestCallDialog()">
        Заказать звонок
		</button>
  </mat-card-actions>
</mat-card>