@import "variables";

:host {
  display: flex;
  width: 100%;
  @media screen and (min-width: map-get($breakpoints, mobile-portrait)) {
    width: 50%;
  }
  @media screen and (min-width: map-get($breakpoints, mobile)) {
    width: 33.3%;
  }
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    width: 25%;
  }
  @media screen and (min-width: map-get($breakpoints, laptop)) {
    width: 20%;
  }
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    width: 16.66%;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  margin-bottom: 10px;
  overflow: hidden;

  &_priceless {
    padding-right: 10px;
    padding-left: 10px;
  }

  &__image-container {
    height: 100%;
    min-height: 170px;

    cursor: zoom-in;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &_priceless {
      margin-bottom: 5px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__actions {
		margin-top: 6px;
    margin: auto 0;
  }

  &__button {
		width: 100%;

		&_to-product {
			&.mat-stroked-button {
				margin-top: 8px;
				margin-left: 0;
				margin-right: 0;
			}
		}
		
		&_to-cart {
			margin-top: 0;
		}

    &_open-photo {
      display: none;
		}

		&_request-call {
			margin-top: 0;
		}
  }
}

@media screen and (pointer: coarse) {
	.product-card {
    &__image-container {
      pointer-events: none;
    }

    &__button {
      &_open-photo {
        display: block;
			}	

			&_request-call {
				margin-top: 8px;
			}
    }
  }
}

@media screen and (max-width: map-get($breakpoints, tablet-portrait) - 1px) {
  .product-card {
    padding-right: 10px;
    padding-left: 10px;
  }
}
