@import "variables";

.products-table {
  &__cards {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;

    background-color: $backgroun-color-primary;
    opacity: 1;

    transition: opacity 0.3s;

    pointer-events: auto;

    &_hidden {
      height: 0;
      overflow: hidden;

      opacity: 0;

      transition: none;

      pointer-events: none;
    }

    &::after {
      content: "";

      flex: auto;
    }
  }

  &__loader {
    margin: 30vh auto;
  }
}
