@import "variables";

.products-table {
  padding: 10px;

  background-color: $backgroun-color-primary;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-right: -10px;
  }

  &__image {
    align-self: flex-start;
  }

  &__card {
    display: flex;
    flex: 1 0 220px;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto 0;
    margin-right: -8px;
  }

  &__button {
    flex: 1 0 auto;
    margin-right: 8px;
  }
}
