<div class="cart">
	<mat-toolbar class="cart__toolbar">
		<h2 class="cart__totalPrice">
			<span>Итого: </span>
			<span>{{(cartFacadeService.cart$ | async).totalPrice | currency:"RUB":"code":"1.0":"ru"}}</span>
		</h2>
		<button mat-mini-fab class="cart__button cart__button_close"
				(click)="cartFacadeService.closeCart()"
				title="Закрыть корзину"
				color="primary"
				aria-label="Close cart">
			<mat-icon>close</mat-icon>
		</button>
	</mat-toolbar>
	<div class="cart__product-list" *ngIf="!(cartFacadeService.isCartEmpty$ | async); else emptyProductList">
		<div class="cart__product-container"
				*ngFor="let productPool of (cartFacadeService.cart$ | async).pools">
			<div class="cart__product-image-container">
				<img class="cart__product-image" [src]="productPool.cartProduct.product.photoUrl.low" alt="Фото продукта">
			</div>
			<div class="cart__product-info">
				<div class="cart__product-name">{{productPool.cartProduct.product.name}}</div>
				<div class="cart__product-size" 
						*ngIf="productPool.cartProduct.product.size">
					{{productPool.cartProduct.product.size | size}}
				</div>
				<div class="cart__product-option" *ngFor="let selectedOption of productPool.cartProduct.selectedOptions">
					<span>{{selectedOption.type}}: </span> 
					<span>{{selectedOption.option.name | titlecase}}</span>
					<div class="cart__skin-image-container" *ngIf="optionTypeEnum.Skin === selectedOption.type" >
						<img class="cart__skin-image" 
						[src]="selectedOption.option.photoUrl.low" alt="Skin color">
					</div>
				</div>
			</div>
			<div class="cart__price-container">
				<div>{{productPool.poolPrice | currency:"RUB":"code":"4.0":"ru"}}</div>
				<div class="cart__quantity">
					<button mat-icon-button class="cart__button_arrow-down" aria-label="Remove product to order"
							(click)="cartFacadeService.removeCartProduct(productPool.cartProduct)">
						<mat-icon>arrow_left</mat-icon>
					</button>
					<button mat-icon-button [disableRipple]="true" class="cart__quantity-number">
						{{productPool.quantity}}
					</button>
					<button mat-icon-button class="cart__button_arrow-up" aria-label="Add product to order"
							(click)="cartFacadeService.addCartProduct(productPool.cartProduct)">
						<mat-icon>arrow_right</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="cart__order-button-container">
		<button mat-raised-button 
				class="cart__button cart__button_order" 
				color="primary"
				(click)="openMakeOrderDialog()"
				[disabled]="(cartFacadeService.isCartEmpty$ | async)">
			Сделать заказ
		</button>
	</div>
</div>

<ng-template #emptyProductList>
	<div class="cart__product-list cart__product-list_empty">
		<h2>Корзина пустая.</h2>
	</div>
</ng-template>