<div class="paginator" *ngIf="(shopFacadeService.currentAlbum$ | async)">
	<div class="paginator__buttons">
		<button mat-mini-fab	class="paginator__button"
				*ngFor="let pageIndex of pageIndexes" 
				[title]="isCurrentPageIndex(pageIndex) ? 'Текущая страница' : 'Страница ' + (pageIndex + 1)"
				[color]="isCurrentPageIndex(pageIndex) ? 'accent' : 'primary'"
				[class.paginator__button_checked]="isCurrentPageIndex(pageIndex)"
				[routerLink]="['/shop', (shopFacadeService.currentAlbum$ | async).id]" [queryParams]="{ page: pageIndex + 1 }">
			{{pageIndex + 1}}
		</button>
	</div>
</div>