<div class="paginator" *ngIf="(shopFacadeService.currentAlbum$ | async)">
	<mat-paginator class="paginator__material"
			[length]="(shopFacadeService.currentAlbum$| async).products.length" 
			[pageSize]="12" 
			(page)="onPageEvent($event)">
	</mat-paginator>
	<div class="paginator__main" [class.paginator__main_hidden]="shopFacadeService.isShopLoading$ | async">
		<button mat-mini-fab	class="paginator__button" [color]="(currentPageIndex === pageIndex) ? 'accent' : 'primary'"
				[class.paginator__button_checked]="(currentPageIndex === pageIndex)"
				*ngFor="let pageIndex of (pageIndexes$ | async)" 
				[routerLink]="['/shop', (shopFacadeService.currentAlbum$ | async).id]" [queryParams]="{ page: pageIndex + 1 }">
			{{pageIndex + 1}}
		</button>
	</div>
</div>