@import "variables";

.paginator {
  display: flex;
  justify-content: center;

  &__buttons {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;

    background-color: transparentize($color: black, $amount: 0.8);
    border-radius: 10px;
  }

  &__button {
    margin: 5px 5px;
    &_checked {
      cursor: default;

      pointer-events: none;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait)) {
  .paginator {
    &__buttons {
      border-radius: 40px;
    }
  }
}
