<div class="contacts">
  <div mat-dialog-title class="contacts__dialog-title">Контакты</div>
  <button mat-stroked-button class="contacts__link contacts__link_location" disableRipple>Москва и МО</button>
  <mat-divider></mat-divider>
  <div class="contacts__phones">
    <mat-icon class="contacts__icon" aria-label="Contact phones">call</mat-icon>
    <a mat-stroked-button class="contacts__link" href="tel:+79256118364">+7 925 611-83-64</a>
    <a mat-stroked-button class="contacts__link"  href="tel:+79060932758">+7 906 093-27-58</a>
  </div> 
  <mat-divider></mat-divider>
  <div class="contacts__social">
    <mat-icon class="contacts__icon" aria-label="Contact soicail networks">local_post_office</mat-icon> 
    <a mat-stroked-button class="contacts__link" href="email:n.n.lis@yandex.ru">n.n.lis@yandex.ru</a>
    <a mat-stroked-button class="contacts__link" href="https://wa.me/79256118364" target="_blank"
      rel="noopener noreferrer">WhatsApp</a>
    <a mat-stroked-button class="contacts__link" href="https://vk.com/sviridenko_furniture" target="_blank"
      rel="noopener noreferrer">Вконтакте</a>
  </div>
  <button mat-icon-button class="contacts__close-button" [mat-dialog-close]='undefined' aria-label="Close contacts dialog">
    <mat-icon>close</mat-icon>
  </button>
</div>