.header {
  overflow: hidden;
  &__logo-container {
    display: flex;
    flex: 1 0 180px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 310px;
    min-height: 48px;
    margin-right: -10px;

    justify-items: center;
  }

  &__logo {
    display: inline-block;
    margin-right: 10px;
  }

  &__location {
    line-height: 25px;

    background-color: white;
    border-radius: 50px;
  }

  &__contacts {
    flex: 1 0 380px;
  }

  &__main {
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px 20px;
  }
}
