<div class="home-page">
	<div class="home-page__container">
		<div class="home-page__background-container">
			<img class="home-page__background-image home-page__background-image_hidden" #backgroundImage
					src="./assets/images/home-page/background.jpg"
					data-src="./assets/images/home-page/background.jpg"
					data-src-mobile="./assets/images/home-page/background-mobile.jpg"
					alt="Background">
		</div>
		<mat-card class="home-page__card home-page__card_title">
			<h1 class="home-page__slogan">
				<div>{{slogan}}</div>
				<div>{{location}}</div>
			</h1>
		</mat-card>
		<div class="home-page__cards">
			<mat-card class="home-page__card home-page__card_feature" *ngFor="let feature of features">
				<mat-card-header class="home-page__card-header">
					<mat-icon mat-card-avatar class="home-page__card-icon" aria-label="Feature name">{{feature.icon}}</mat-icon>
					<mat-card-title class="home-page__card-title">{{feature.title}}</mat-card-title>
				</mat-card-header>
				<mat-card-content class="home-page__card-description">
					{{feature.description}}
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
