@import "variables";
@import "mixins";

.shop {
  &__navigation {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin-right: -10px;
    padding: 8px 9px 8px 15px;
  }

  &__link {
    flex: 1 0 auto;
    max-width: 300px;
    margin: 6px 0;
    margin-right: 10px;

    line-height: 30px;

    border-color: white;

    transition: background-color 0.3s;
    &:hover {
      background-color: transparentize($color: black, $amount: 0.9);
    }

    &.mat-badge-small::ng-deep .mat-badge-content {
      top: -4px;
      right: -6px;

      width: auto;
      height: 8px;

      line-height: 8px;

      border-radius: 0;
    }

    &_online-product {
      &.mat-badge-small::ng-deep .mat-badge-content {
        color: $color-accent;
      }
    }
  }

  &__product-cards {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;

    background-color: $backgroun-color-primary;
    &::after {
      content: "";
      flex: auto;
    }
  }
}
