<div class="shop">
  <app-header></app-header>
  <div class='shop__navigation'>
    <ng-container *ngTemplateOutlet='navBar'></ng-container>
  </div>
  <mat-accordion class='shop__navigation-mobile'>
    <mat-expansion-panel class="shop__panel" #panel>
      <mat-expansion-panel-header [expandedHeight]='"40px"' [collapsedHeight]='"40px"'>
        <mat-panel-description>
            Категории нашей мебели
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet='navBar'></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-spinner class="shop__loader" *ngIf='shopFacadeService.isShopLoading$ | async' [diameter]='50'></mat-spinner>
  <router-outlet></router-outlet>
</div>

<ng-template #navBar>
  <mat-toolbar class="shop__buttons" color='primary'>
    <button mat-stroked-button
    *ngFor='let album of shopFacadeService.albums$ | async'
    (click)='panel.close()'
    [routerLink]='["/shop", album.id]'
    [matBadge]='album.products[0].price ? "Онлайн" : "Под заказ"'
    matBadgeSize="small"
    [routerLink]='["/shop", album.id]'
    class="shop__link"
    [class.shop__link_online-product] = 'album.products[0].price'
    >{{album.title}}</button>
  </mat-toolbar>
</ng-template>