<div class="shop">
  <app-header></app-header>
  <mat-toolbar class="shop__navigation" color='primary'>
    <button mat-stroked-button
    *ngFor='let album of this.productsService.albums$ | async'
    (click)='this.productsService.hideCards(album.id)'
    [matBadge]='album.onlinePurchase ? "Онлайн" : "Под заказ"'
    matBadgeSize="small"
    [routerLink]='["/shop", album.id]'
    class="shop__link"
    [class.shop__link_online-product] = 'album.onlinePurchase'
    >{{album.title}}</button>
  </mat-toolbar>
  <mat-spinner class="shop__loader" *ngIf='!this.productsService.isProductCardsLoaded' [diameter]='50'></mat-spinner>
  <router-outlet></router-outlet>
</div>