@import "variables";

html,
body {
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-flow: column nowrap;
  margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
  height: 100vh;

  font-family: Roboto, "Helvetica Neue", sans-serif;

	background-color: $background-color-primary;
}

@media screen and (max-width: map-get($breakpoints, laptop) - 1px) {
	html {
		overflow-x: hidden;
	}	
}

body > * {
	flex-shrink: 0;
}