@import "variables";
@import "styles/dialog";
@import "styles/recaptcha";

body {
	position: absolute;
	height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: $background-color-primary;
}

.waiting {
  cursor: wait;
  & * {
    cursor: wait !important;
  }
}
