@import "variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: scroll;

  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: $backgroun-color-primary;
}
    
.mat-dialog-container {
  position: relative;
}