@import "variables";

.shop__product-page {
  margin: 0 auto;
  width: 90vw;
}

.product-page {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 auto;

  &__image-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    order: 1;
    width: 90vw;
    height: 90vw;
    margin: 10px 0;
    user-select: none;
    & .product-page__button {
      background-color: white;
    }
  }

  &__image {
    width: calc(100% - #{$update-button-height-mobile});
    height: calc(100% - #{$update-button-height-mobile});
    padding: 0;
  }

  &__total-card {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    order: 3;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  &__options-card {
    flex: 1 0 100%;
    order: 2;
    height: 40vh;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;

    user-select: none;
  }

  &__table {
    width: auto;
    & td:nth-child(2) {
      padding-left: 15px;
    }
  }

  &__actions {
    margin: auto 0;

    justify-self: flex-end;
  }

  &__button {
    width: 100%;

    &_back {
      margin-top: 10px;

      background-color: white;
    }

    &_update-photo {
      height: $update-button-height-mobile;

     width: calc(100% - #{$update-button-height-mobile});
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
  }
}

@media screen and (min-width: map-get($breakpoints, mobile) - 60px) {
  $hoh: 10000px;
  .shop__product-page {
    width: 95vw;
  }
  
  .product-page {
    justify-content: flex-end;

    &:after {
      content: "";
      display: block;
      order: 3;
      width: 240px;
      height: 1px;
      margin-right: 10px;
    }

    &__image-card {
      flex-flow: column-reverse;
      align-items: flex-start;
      width: 240px;
      height: 240px;
      margin-right: 10px;
    }

    &__total-card {
      flex: 1 0 50%;
      width: 50%;
      order: 4;
      margin-left: -#{$update-button-height-mobile};
    }

    &__options-card {
      flex: 1 0 50%;
      z-index: 3;
      margin-left: -#{$update-button-height-mobile};
      height: 240px;
      margin-top: 10px;
    }

    &__button_update-photo {
      top: 0;
      bottom: auto;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait) - 100px) {
  .product-page {

    height: 70vh;
    min-height: 610px;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;

    &:after{
      display: none;
    }

    &__image-card {
      width: 320px;
      height: 320px;
    }

    &__options-card {
      width: calc(100% - 330px + #{$update-button-height-mobile});
      order: 3;
    }

    &__total-card {
      order: 2;
      flex: 0 1 auto;
      width: calc(320px - #{$update-button-height-mobile});
      margin-left: 0;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
  .product-page {
    justify-content: flex-start;
    flex-flow: row wrap;
    min-height: 500px;

    &__options-card {
      height: 100%;
      flex: 1 0 35%;
      order: 2;
    }

    &__total-card {
      margin-top: 10px;
      margin-left: 10px;
      order: 3;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, laptop)) {
  .product-page {

    &__image-card {
      width: 360px;
      height: 360px;
    }

    &__total-card {
      width: 360px;
      margin-left: 10px;
      margin-top: 10px;
    }

    &__table {
      width: auto;
      & td:nth-child(2) {
        padding-left: 25px;
      }
    }
  }
}



@media screen and (max-width: map-get($breakpoints, tablet) - 1) {
  .product-page {
    &__button {
      &_update-photo {
        border-radius: 0;
      }
    }
  }
}
