@import "variables";

.shop__product-page {
  width: 90vw;
  margin: 0 auto;
}

.product-page {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 auto;

  &__image-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    order: 1;
    width: 90vw;
    height: 90vw;
    margin: 10px 0;

    user-select: none;
    & .product-page__button {
      background-color: white;
    }
  }

  &__image {
    width: calc(100% - #{$update-button-height-mobile});
    height: calc(100% - #{$update-button-height-mobile});
    padding: 0;
  }

  &__total-card {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    order: 3;
    box-sizing: border-box;
    max-height: 470px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__options-card {
    flex: 1 0 100%;
    order: 2;
    height: 45vh;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;

    user-select: none;
  }

  &__table {
    width: auto;
    & td:nth-child(2) {
      padding-left: 15px;
    }
  }

  &__actions {
    margin: auto 0;

    justify-self: flex-end;
  }

  &__button {
    width: 100%;

    &_back {
      margin-top: 10px;

      background-color: white;
    }

    &_update-photo {
      width: calc(100% - #{$update-button-height-mobile});
      height: $update-button-height-mobile;

      border-radius: 0;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
  }
}

@media screen and (min-width: map-get($breakpoints, mobile) - 60px) {
  $image-width: 270px;

  .shop__product-page {
    width: 95vw;
  }

  .product-page {
    justify-content: flex-end;

    &:after {
      content: "";

      display: block;
      order: 3;
      width: $image-width;
      height: 1px;
      margin-right: 10px;
    }

    &__image-card {
      flex-flow: column-reverse;
      align-items: flex-start;
      width: $image-width;
      height: $image-width;
      margin-right: 10px;
    }

    &__total-card {
      flex: 1 0 50%;
      order: 4;
      margin-left: - #{$update-button-height-mobile};
    }

    &__options-card {
      z-index: 3;

      flex: 1 0 50%;
      height: $image-width;
      margin-top: 10px;
      margin-left: - #{$update-button-height-mobile};
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet-portrait) - 100px) {
  .product-page {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 608px;
    max-height: 120vh;

    &:after {
      display: none;
    }

    &__image-card {
      width: 320px;
      height: 320px;
    }

    &__options-card {
      order: 3;
      width: 100%;
      width: calc(100% - 330px + #{$update-button-height-mobile});
    }

    &__total-card {
      flex: 0 1 auto;
      order: 2;
      width: calc(320px - #{$update-button-height-mobile});
      margin-left: 0;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
  .product-page {
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 60vh;
    min-height: 320px;

    &__options-card {
      flex: 1 0 35%;
      order: 2;
      height: 100%;
    }

    &__total-card {
      order: 3;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, laptop)) {
  .product-page {
    &__image-card {
      width: 360px;
      height: 360px;
    }

    &__total-card {
      width: 360px;
      margin-top: 10px;
      margin-left: 10px;
    }

    &__table {
      width: auto;
      & td:nth-child(2) {
        padding-left: 25px;
      }
    }
  }
}
