.contacts-form {
  overflow: visible;
  &__form {
    display: flex;
    flex-flow: column nowrap;
  }
  &__form-field {
    margin-bottom: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::ng-deep .mat-input-element {
      line-height: 16px;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}